<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card class="signup-card">
    <mat-card-content>
      <form fxFlexFill [formGroup]="signUpForm">
        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Nome de Usuário</mat-label>
            <input matInput type="username" formControlName="username" id="username" placeholder="Nome de Usuário"
              required />
          </mat-form-field>
        </div>
        
        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" id="email" placeholder="E-mail" required />
          </mat-form-field>
        </div>
       
        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" id="password" formControlName="password" placeholder="Senha (Mínimo: 6 caracteres)" required />
          </mat-form-field>
        </div>
      
        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Confirme a senha</mat-label>
            <input matInput type="password" id="passConfirm" formControlName="passConfirm"
              placeholder="Confirme a senha" required />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions fxFlexFill align="center">
      <button mat-raised-button routerLink="/login">
        Voltar
      </button>

      <button [disabled]="!signUpForm.valid" mat-raised-button color='accent' (click)="tryRegister()">
        Cadastrar
      </button>
    </mat-card-actions>
  </mat-card>
</ion-content>