<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card class="login-card">
    <mat-card-content>
      <form fxFlexFill [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" id="email" placeholder="Digite seu e-mail" required />
          </mat-form-field>
        </div>

        <table>
          <tr>
            <td>
              <div fxFlexFill>
                <mat-form-field appearance="outline">
                  <mat-label>Senha</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" id="password"
                    placeholder="Digite sua senha" required />
                </mat-form-field>
              </div>
            </td>
            <td width="1%">
              <ion-button size="small" (click)="hide=!hide" type="button" fill="clear">
                <ion-icon [name]="hide? 'md-eye-off' : 'md-eye'" slot="icon-only"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </table>


      </form>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button routerLink="/signup" color="primary">
        Cadastre-se
      </button>

      <button [disabled]="!loginForm.valid" mat-raised-button color="accent" (click)="onSubmit()">
        Entrar
      </button>
      <mat-progress-spinner mode="indeterminate" color="primary" *ngIf='loading'></mat-progress-spinner>
    </mat-card-actions>
  </mat-card>
</ion-content>