<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Criar plano de aula
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card>
    <mat-card-content>
      <form fxFlexFill [formGroup]="planForm">
        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Tema</mat-label>
            <input matInput type="title" formControlName="title" id="title" placeholder="Título" required />
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Escola</mat-label>
            <input matInput type="school" formControlName="school" id="scholl" placeholder="Escola" required />
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Série</mat-label>
            <mat-select id="class" formControlName="class" #classSelect required>
              <mat-option *ngFor="let class of classes" [value]="class">
                {{class}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Disciplina</mat-label>
            <mat-select id="subject" formControlName="subject" #classSelect required>
              <mat-option *ngFor="let subject of subjects" [value]="subject">
                {{subject}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Palavra-chave</mat-label>
            <input matInput type="keyword" formControlName="keyword" id="keyword" placeholder="Palavra-chave"
              required />
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Objetivos</mat-label>
            <input matInput type="goals" formControlName="goals" id="goals" placeholder="Objetivos" required />
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Metodologia</mat-label>
            <input matInput type="script" formControlName="script" id="script" placeholder="Metodologia" required />
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Materiais</mat-label>
            <input matInput type="materials" formControlName="materials" id="materials" placeholder="Materiais"
              required />
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Avaliação</mat-label>
            <input matInput type="evaluation" formControlName="evaluation" id="evaluation" placeholder="Avaliação"
              required />
          </mat-form-field>
        </div>

        <div fxFlexFill>
          <mat-form-field appearance="outline">
            <mat-label>Duração</mat-label>
            <input matInput type="duration" formControlName="duration" id="duration" placeholder="Duração" required />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions fxFlexFill align="center">
      <button mat-raised-button routerLink="/home">
        Voltar
      </button>

      <button mat-raised-button color='accent' (click)="onSubmit()">
        Criar
      </button>
    </mat-card-actions>
  </mat-card>
</ion-content>