<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'Evento'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card *ngFor="let event of event$ | async">
    <mat-card-header (click)="dateInfo(event.startTime)">
      <b>{{event.title}}</b>
    </mat-card-header>
    <mat-card-content>
      <mat-list>

        <div *ngIf="event.allDay">
          <mat-divider></mat-divider>
          <h3 mat-subheader>Horário do evento</h3>
          <mat-list-item>
            <h4 mat-line>Dia todo</h4>
          </mat-list-item>
        </div>

        <div *ngIf="!event.allDay">
          <mat-divider></mat-divider>
          <h3 mat-subheader>Horário de Início</h3>
          <mat-list-item>
            <h4 mat-line>{{event.startTime.getDate() + '/' + getMonth(event.startTime.getMonth())}}</h4>
            <h1 mat-subheader>{{event.startTime.getHours()+':'+event.startTime.getMinutes()}}</h1>
          </mat-list-item>
        </div>

        <div *ngIf="!event.allDay">
          <mat-divider></mat-divider>
          <h3 mat-subheader>Horário de Fim</h3>
          <mat-list-item>
            <h4 mat-line>{{event.endTime.getDate() + '/' + getMonth(event.endTime.getMonth())}}</h4>
            <h1 mat-subheader>{{event.endTime.getHours()+':'+event.endTime.getMinutes()}}</h1>
          </mat-list-item>
        </div>

        <mat-divider></mat-divider>
        <h3 mat-subheader>Plano de Aula</h3>
        <mat-list-item (click)="onClickPlan(event.planId)">
          <h4 mat-line>{{event.planTitle}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions fxFlexFill align="center" *ngIf="isOwner(event.uid)">
      <button mat-raised-button routerLink="/calendar" color="warn" (click)="deleteEvent()">
        Excluir
      </button>
    </mat-card-actions>
  </mat-card>
</ion-content>