.mat-list-item.mat-list-item-word-wrap {
    height: initial !important;
    .mat-line {
      word-wrap: break-word !important; 
      white-space: pre-wrap !important;
    }
    margin-bottom: 3%;
  }