<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Booklet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Comece agora</ion-card-subtitle>
        <ion-card-title>Bem-vindo ao Booklet, {{currentUser? currentUser.displayName:''}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Agora que sua conta está criada, você vai querer começar a criar planos de aula para organizar seus dias.</p>
      </ion-card-content>
    </ion-card>
</ion-content>